.article {
  margin: 30px 10px 0 0;
  background-color: #eeeeee;
  border-radius: 3px;
}
.article .post-content {
  padding: 0;
  margin: 0;
}
.article .post-content .the_content {
  padding: 20px;
  margin: 20px;
}
.article h3 {
  margin: 0;
  padding: 10px;
  background-color: #2196f3;
  color: #ffffff;
}
.article .chip {
  margin: 20px;
  background-color: #ffffff;
}
.article .attachment-banner-thumbnails {
  width: 100%;
  max-width: none;
  height: 400px;
  max-height: none;
  padding: 0;
  margin: 0;
}
.not-found {
  color: #2196f3;
  background-color: #b1eaf1;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 5px #b1eaf1;
}
.comments1 {
  margin: 30px 10px 0 0;
  background-color: #eeeeee;
  border-radius: 3px;
}
.comments1 #commentform p {
  color: #777777;
}
.comments1 #commentform p a {
  color: #2196f3;
}
.comments1 h3 {
  color: #ffffff;
  background-color: #2196f3;
  padding: 20px 10px 5px 10px;
}
.comments1 .comment-body .comment-reply-link {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 3px;
  padding: 3px;
}
.comments1 ol li {
  list-style: none;
}
.comments1 #comment::-moz-placeholder {
  color: #777777;
}
.comments1 .comment {
  background-color: #ffffff;
  margin: 20px;
  padding: 10px;
  border-radius: 2px;
}
.nav-posts {
  margin: 28px;
  height: 60px;
}
.nav-posts p {
  padding: 10px;
  background-color: #2196f3;
  border-radius: 3px;
  box-shadow: 0 0 2 #2196f3;
}
.nav-posts p a {
  color: #ffffff;
}
.nav-posts p:hover {
  box-shadow: 0 0 10px #2196f3;
}
footer a,
hr,
.menu-pages-container ul li a {
  color: #ffffff;
}
.dropdown-content li a {
  color: #2196f3;
}
hr {
  margin: 4px 10px 4px 0 !important;
  background-color: #ffffff;
  border-width: 0px;
  height: 2px;
  box-shadow: 0 0 2px #ffffff;
  border-radius: 1px;
}
hr:last-of-type {
  height: 0px;
}
.row {
  padding: 2%;
}
.row .col .gallery img {
  width: 130px;
  height: 130px;
  border-radius: 2px;
  -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-transition: all 1s ease;
  /* IE 9 */
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
}
.row .col .gallery img:hover {
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -moz-transform: scale(1.25);
  /* Firefox */
  -ms-transform: scale(1.25);
  /* IE 9 */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25);
}
.row .col .image-post img {
  width: 450px;
  height: 450px;
  border-radius: 2px;
  border: 2px solid #ffffff;
}
.grid,
.grid-item {
  padding: 0;
  margin: 0;
}
.slug {
  padding: 5px;
}
.info {
  font-size: 10px;
  color: #777777;
}
/* Psts Card */
.card {
  max-height: 450px;
  min-height: 450px;
}
.card .card-image {
  max-height: 233px;
  min-height: 233px;
}
.card .card-content {
  padding: 13px;
  max-height: 153px;
  min-height: 153px;
}
.card .card-content h4 a {
  color: #ffffff;
}
.card-panel {
  padding-right: 13px;
  padding-left: 13px;
}
.card-panel .info {
  color: #ffffff;
}
.card-panel .info a {
  color: #ffa;
}
.card-panel h4 a {
  color: #ffffff;
}
.widgets {
  background-color: #2196f3;
  box-shadow: 0 0 3px #2196f3;
  color: #ffffff;
  border-radius: 2px;
  text-shadow: 0 0 1px #777777;
  margin: 7px 0 0 0;
  padding: 2px;
}
.widgets .widget {
  margin: 7px 0 7px 0;
}
.widgets a {
  color: #ffffff;
}
.site-logo {
  border-radius: 23px;
  background-color: #ffffff;
}
.status {
  font-size: 20px;
}
.status .status-img {
  margin-top: 25%;
  border-radius: 70px;
}
.search-wrapper {
  position: relative;
  color: #2196f3;
}
.search-wrapper input#s {
  display: block;
  font-size: 16px;
  font-weight: 300;
  border-radius: 2px;
  width: 80%;
  height: 45px;
  padding: 0px 45px 0px 15px;
}
.search-wrapper i.material-icons {
  position: absolute;
  top: 10px;
  right: 5%;
  cursor: pointer;
}
.avatar {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 25px;
}
blockquote {
  border-color: #ffffff;
}
img {
  max-width: 700px;
  max-height: 700px;
}
#wp-calendar td a {
  padding: 4px;
  border-radius: 12px;
  color: #2196f3;
  background-color: #ffffff;
}
nav.pagination {
  font-size: 20px;
  text-align: center;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: #2196f3;
}
nav.pagination .page-numbers {
  border-radius: 2px;
  padding: 0 15px 0 15px;
  margin: 0 10px 0 10px;
  color: #2196f3;
  background-color: #ffffff;
}
nav.pagination .page-numbers.current {
  color: #ffffff;
  background-color: #2196f3;
}
nav.pagination .page-numbers.current:hover {
  background-color: #2196f3;
  box-shadow: 0 0 2px #2196f3;
}
nav.pagination .page-numbers:hover {
  background-color: #eeeeee;
  box-shadow: 0 0 2px #777777;
}
/* to fix submit apparence */
input[type='submit'] {
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid;
}
input,
textarea {
  border-color: #2196f3 !important;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
  border-color: #2196f3 !important;
  box-shadow: #2196f3 !important;
}
.input-field input[type=text]:focus + label {
  color: #2196f3;
}
/* label underline focus color */
.input-field input[type=text]:focus,
textarea:focus {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3;
}
